li {
	list-style-type: none;
  }
  nav ul li a {
	font-size: 0.8em;
  }
  h2 {
	font-size: 1.2em;
  }
  h3 {
	font-size: 1em;
  }
  h4 {
	font-size: 0.8em;
  }

  @font-face {
	font-family: "lato bold";
	src: url(../assets/fonts/Lato-Bold.ttf);
  }
  @font-face {
	font-family: "lato";
	src: url(../assets/fonts/Lato-Regular.ttf);
  }
  @font-face {
	font-family: "lora";
	src: url(../assets/fonts/Lora-VariableFont_wght.ttf);
  }
  @font-face {
	font-family: "lato small";
	src: url(../assets/fonts/Lato-Light.ttf);
  }
  @font-face {
	font-family: "lato thin";
	src: url(../assets/fonts/Lato-Thin.ttf);
  }
  @font-face {
	font-family: "josefin sans";
	src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
  }

  
#adminNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	background-color: black;
	padding-top: 40px;
	height: 100%;
	font-family: "lato";
	text-transform: uppercase;
  }

  li a{
	color: white;
  }

  .style-link a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px;
	margin-bottom: 30px;
  }

  .style-link a:hover {
	cursor: pointer;
	border-bottom: 1px solid var(--primary);
  }

  .adminMain {
	margin-left: 100px;
	padding: 20px;
  }

  #messages {
	display: flex;
	flex-direction: column;
  }
  .title1 {
	display: flex;
	justify-content: center;
  }
  .h2 {
	font-family: josefin sans;
	font-weight: 400;
	margin-right: 20px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--secondary);
  }
  .users {
	margin-left: 90px;
  }
  .contents {
	grid-column: 2/10;
  }
  .contents h3 {
	font-family: 'lora';
	margin-bottom: 20px;
  }
  .contents p {
	font-family: lora;
	margin-bottom: 10px;
  }
  .contents h4 {
	font-family: "lato small";
	margin-bottom: 25px;
  }
  .header2, .header1 {
	margin-top: 100px;
	display: flex;
	justify-content: center;
  }
  table {
	border-collapse: collapse;
  }
  th {
	padding: 15px;
	font-family: 'lato bold';
	color: var(--secondary);
  }
  td {
	font-family: "lora";
	padding: 10px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 120px;
  }
  label {
	font-family: "lora";
  }
  .blog-img {
	max-width: 100px;
	max-height: 100px;
  }
#title, #photo, #description {
  background: var(--back);
  color: white;
  outline: none;
  border-style: none;
  border: 1px solid var(--secondary);
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#create-btn {
  width: 100%;
  padding: 5px;
  margin-bottom: 40px;
  background-color: var(--secondary);
  color: black;
  border-style: none;
  border-radius: 5px;
  font-family: 'lato bold';
}
#create-btn:hover {
  background: white;
  cursor: pointer;
}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
  }
  .input.err input, .input.err textarea{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	border-color: red;
  } 
  
  .input .err{
	color: red; 
	margin: -15px 0 20px 0;
	font-family: 'lato small';
	font-size: 0.8em;
  } 

  #new-blog{
	position: relative;
	/* max-width: 500px; */
  }
  
  .Alert {
	position: absolute;
	top: 0;
	left: 300px;
	font-family: josefin sans;
	font-size: 1em;
	padding: 15px;
	background-color: var(--primary);
	color: black;
	text-align: center;
	z-index: 999;
	width: 280px;
	border-radius: 15px;
	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	visibility: hidden;
  }
  .Alert.hide {
	opacity: 0;
	visibility: hidden;
  }
  
  .Alert.show {
	opacity: 1;
  transform: translateY(0);
  visibility: visible;
  }
  
  input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
	  transition: background-color 5000s ease-in-out 0s;
  }
  .custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
  }
  .custom-file-input::before {
	content: "Select photo";
	background: var(--secondary);
	border: 1px solid var(--secondary);
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.8em;
	color: #0e0e0e;
  }
  .custom-file-input:hover::before {
	border-color: white;
  }
  .custom-file-input:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  


  @media screen and (min-width: 700px) {
	body {
	  font-size: 16px;
	}
	#adminNav {
	  width: 200px;
	  padding-left: 40px;
	}
	.adminMain {
	  margin-left: 220px;
	}
  }
  
  .blog-img {
	max-width: 120px;
	max-height: 120px;
  }
  td {
	width: 120px;
  }
  form[name="createForm"] {
	margin-left: 50px;
	width: 80%;
  }

  @media screen and (min-width: 960px) {
	body {
	  font-size: 17px;
	}
	.users {
		margin-left: 50px;
	  }

	  .contents {
		grid-column: 2/10;
		margin-left: -50px;
	  }
	.blog-img {
	  max-width: 150px;
	  max-height: 150px;
	}
	table {
		width: 100%;
	  }
	td {
	  max-width: 200px;
	}
	td a {
	  display: inline;
	}
	.action-icons img {
	  width: 20%;
	  margin-right: 5px;
	}
	form[name="createForm"] {
	  width: 50%;
	}
	#create-btn{
		height: 40px;
	}
  }

  @media screen and (min-width: 1200px){
	body{
		font-size: 18px;
	}
	.title1,.header2,.header1{
		justify-content: flex-start;
	}
	.adminMain {
		margin-left: 300px;
	  }
	  .h2{
		margin-left: 50px;
	  }

	  .header2{
		margin-left: 300px;
	  }

	  .contents {
		grid-column: 2/10;
		margin-left: 50px;
	  }

	table{
		margin-left: -250px;
	}
    td {
      max-width: 100%;
    }
	form{
		width: 50%;
	}

}

